table
{
    width: 50%;
    background-color: gray;
}
h2
{
    font-family:cursive;
    color:indigo;
}
#userInfo
{  
    text-align: left;
}
label
{
    color:goldenrod;
    font: italic 20px fantasy;
}
span
{
font-size: 25px;    
}
img
{
  width: 200px;
}